@media screen and (max-width: 768px) {
  .ten-text,
  .avt {
    display: none;
  }
  .banner {
    position: relative;
    background-image: url("../images/banner.jpg");
    width: 100%;
    height: 450px;
    filter: brightness(50%);
    background-size: cover;
  }
  .h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -100%);
    text-align: center;
    font-size: larger;
    font-style: normal;
  }
  /* Sửa navbar display */
  .navbar {
    display: block;
    height: auto;
  }
  #div-nav {
    display: block;
    padding: 10px;
    text-align: left;
  }
  .nav {
    border-left: none;
    padding: 20px;
  }

  /* Container chuyển sang block */

  .container {
    width: 100% !important;
    display: block;
  }
  #target {
    padding: 20px 40px 20px 40px;
  }
  #personal-info {
    padding: 20px 40px 20px 40px;
  }
  .section-title {
    margin: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .cer-content {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
  }
  #cer-grid {
    display: block;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 20px;
  }
  .cer-content1 {
    border-bottom: 2px solid #d6c08d;
  }
  .cer-content2 {
    border-bottom: 2px solid #d6c08d;
    border-left: none;
    padding-left: 0px;
  }
  .cer-content3 {
    padding-top: 0px;
    border-top: none;
    border-bottom: 2px solid #d6c08d;
  }
  .project-grid {
    display: block;
    /*     width: 100%; */
    padding: 20px;
  }
  .project-flex {
    margin-bottom: 30px;
  }
  #footer {
    background-color: #c8cbce;
    text-align: center;
    font-style: normal;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    margin: 10px 0 20px 0;
  }
  #footer a:link,
  a:visited {
    font-size: 18px;

    margin-right: 50px;
    text-decoration: none;
    color: #0c6f88;
  }
  #footer a:hover,
  a:active {
    cursor: grab;
    color: #0abde3;
  }
  .icon {
    margin: 5px 5px 5px 5px !important;
  }
  .iconft {
    padding: 10px !important;
  }
}
